<p>
  <strong>User:</strong>
  <%= comment.user.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.content %>
</p>

<% if current_user && (current_user.id == comment.user.id || current_user.id == comment.song.id) %>
  <p>
    <%= link_to 'Destroy Comment', [comment.song, comment],
                method: :delete,
                data: {confirm: 'Are you sure?'} %>
  </p>
<% end %>