
<div class="container-fluid" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="background-color:#fafafa;border-radius: 3px;border: 1px solid #e6e6e6;">
      <h3> New song: </h3>
      <%= render 'form_upload' %>
    </div>
  </div>
</div>
